
<!DOCTYPE html>
<html lang="en">
{% autoescape true %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}How To Pass Data and Objects Between Activities{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        How-To
                    </a>
                </li>

                {% for title, page in pages %}
                    <li>
                        <a href="{{ page }}">{{ title }}</a>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="jumbotron">
                    <h1>{% block jumbo_title %}{% endblock %}</h1>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <!-- MY CONTENT HERE -->
                        {% block body %}
                        {% endblock %}

                        {% if pageIndex == 0 %}
                            <nav>
                                <ul class="pager">
                                    <li><a href="{{ pages[1][1] }}">Let's Get Started</a></li>
                                </ul>
                            </nav>
                        {% else %}
                            <nav>
                                <ul class="pager">
                                    <li><a href="{{ pages[pageIndex - 1][1] }}">Prev</a></li>
                                    {% if pageIndex < (pages|length) - 1 %}
                                        <li><a href="{{ pages[pageIndex + 1][1] }}">Next</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}

                    </div>
                </div>
            </div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
{% endautoescape %}
